<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ env('APP_NAME', 'My App') }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ assets('css/main.css') }}">
</head>
<body>
    {# <header>
        {% block nav %}{% endblock %}
    </header> #}

    <main>
        {% block body %}
        <!-- Default content if not overridden -->
        {% endblock %}
    </main>

    {# <footer>
        {% block footer %}{% endblock %}
    </footer> #}
</body>
</html>
