{% extends 'base.twig' %}

{% block title %}Hello Page{% endblock %}

{% block content %}
    <h2>Hello {{ name }}!</h2>
    <p>This page is rendered using Twig and extends the layout.</p>
{% endblock %}